html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a img, a {
	border: none;
	text-decoration: none;
	outline: none;
}

#bg {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

#bg_inner {
	z-index: 1000;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: -moz-radial-gradient(rgba(71,108,186,.5), rgba(0,0,0,.8));
	background-image: -o-radial-gradient(rgba(71,108,186,.5), rgba(0,0,0,.8));
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1500, from(rgba(71,108,186,.5)), to(rgba(0,0,0,.8)));
	background-image: -webkit-radial-gradient(rgba(71,108,186,.5), rgba(0,0,0,.8));
}

#content_c {
	font-family: "myriad pro", helvetica, arial, sans-serif;
	font-weight: 100;
	line-height: 1;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 3000;
}

#map_canvas {
	position: fixed !important;
	z-index: 900;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#form_c {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(38,61,111,.8);
	border: 0px solid rgba(255,255,255,.1);
	-webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,.5), 0 1px 0px #42609f;
	-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,.5), 0 1px 0px #42609f;
	box-shadow: 0 1px 8px rgba(0,0,0,.9), 0px 0px 200px rgba(255,255,255,.8);
	border: 1px solid rgba(0,0,0,.4);
}

form {
	padding: 1px 0px 30px;
	position: relative;
}

h1 {
	text-align: center;
	line-height: 1;
}

.vertical_outer {
	display: table; 
	#position: relative; 
	overflow: hidden;
}

.vertical_middle {
	#position: absolute; 
	#top: 50%;
	display: table-cell; 
	vertical-align: middle;
}

.vertical_inner {
	margin: auto;
	width: 600px;
	#position: relative; 
	#top: -50%
}

#term_c {
	width: 370px;
	margin: 0px auto;
}

.field {
	outline: none;
	font-family: "myriad pro", helvetica, arial, sans-serif;
	font-size: 18pt;
	font-weight: 100;
	line-height: 1;
	color: #fff;
	padding: 8px;
	padding-right: 38px;
	border: none;
	background: rgba(40,45,52,.3);
	width: 250px;
	max-width: 282px;
	-webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,.5), 0 1px 0px #42609f;
	-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,.5), 0 1px 0px #42609f;
	box-shadow: inset 0 1px 8px rgba(0,0,0,.5), 0 1px 0px #42609f;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	z-index: 1200;
}

.button {
	cursor: pointer;
	-moz-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	font-family: "helvetica";
	font-weight: 700;
	font-size: 10.5pt;
	color: #5c792c;
	text-shadow: 0px 1px 0px rgba(255,255,255,.5);
	padding: 14px 17px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(117,183,56)),
	    color-stop(1, rgb(181,217,90))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(117,183,56) 0%,
	    rgb(181,217,90) 100%
	);
	background-image: -o-linear-gradient(rgb(181,217,90), rgb(117,183,56));
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,.7), 0 1px 1px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 1px 2px rgba(255,255,255,.7), 0 1px 1px rgba(0,0,0,.3);
	box-shadow: inset 0 1px 2px rgba(255,255,255,.7), 0 1px 1px rgba(0,0,0,.3);
	position: relative;
	z-index: 1200;
}

#close {
	position: absolute;
	top: -20px;
	left: -20px;
	opacity: .8;
}