html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
	font-family: "myriad pro", helvetica, arial, sans-serif;
}

a img, a {
	border: none;
	text-decoration: none;
	outline: none;
}

#bg {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

#bg_inner {
	z-index: 1000;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: -moz-radial-gradient(rgba(71,108,186,.5), rgba(0,0,0,.8));
	background-image: -o-radial-gradient(rgba(71,108,186,.5), rgba(0,0,0,.8));
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1500, from(rgba(71,108,186,.5)), to(rgba(0,0,0,.8)));
	background-image: -webkit-radial-gradient(rgba(71,108,186,.5), rgba(0,0,0,.8));
}

#content_c, h1 {
	line-height: 1;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 3000;
}

#map_canvas {
	position: fixed !important;
	z-index: 900;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#form_c {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid rgba(255,255,255,.1);
	-webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,.5), 0px 0px 200px rgba(255,255,255,.8);
	-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,.5), 0px 0px 200px rgba(255,255,255,.8);
	box-shadow: 0 1px 8px rgba(0,0,0,.9), 0px 0px 200px rgba(255,255,255,.8);
	border: 1px solid rgba(0,0,0,.4);
	
	background: rgba(38,61,111,.8);
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgba(29,48,88,.8)),
	    color-stop(1, rgba(38,61,111,.7))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgba(29,48,88,.8) 0%,
	    rgba(38,61,111,.7) 100%
	);
	background: -o-linear-gradient(rgba(38,61,111,.7), rgba(29,48,88,.8));
}

form {
	padding: 1px 0px 30px;
	position: relative;
}

h1 {
	text-align: center;
	line-height: 1;
}

.vertical_outer {
	display: table; 
	#position: relative; 
	overflow: hidden;
}

.vertical_middle {
	#position: absolute; 
	#top: 50%;
	display: table-cell; 
	vertical-align: middle;
}

.vertical_inner {
	margin: auto;
	width: 600px;
	#position: relative; 
	#top: -50%
}

#term_c {
	width: 370px;
	margin: 0px auto;
}

.field {
	outline: none;
	font-family: "myriad pro", helvetica, arial, sans-serif;
	font-size: 18pt;
	font-weight: 100;
	line-height: 1;
	color: #fff;
	padding: 8px;
	padding-right: 38px;
	border: none;
	background: rgba(40,45,52,.3);
	width: 250px;
	max-width: 282px;
	-webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,.5), 0 1px 0px #42609f;
	-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,.5), 0 1px 0px #42609f;
	box-shadow: inset 0 1px 8px rgba(0,0,0,.5), 0 1px 0px #42609f;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	z-index: 1200;
}

.button {
	cursor: pointer;
	-moz-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	font-family: "helvetica";
	font-weight: 700;
	font-size: 10.5pt;
	color: #5c792c;
	text-shadow: 0px 1px 0px rgba(255,255,255,.5);
	padding: 14px 17px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(117,183,56)),
	    color-stop(1, rgb(181,217,90))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(117,183,56) 0%,
	    rgb(181,217,90) 100%
	);
	background-image: -o-linear-gradient(rgb(181,217,90), rgb(117,183,56));
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,.7), 0 1px 1px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 1px 2px rgba(255,255,255,.7), 0 1px 1px rgba(0,0,0,.3);
	box-shadow: inset 0 1px 2px rgba(255,255,255,.7), 0 1px 1px rgba(0,0,0,.3);
	position: relative;
	z-index: 1200;
}

#close {
	position: absolute;
	top: -20px;
	left: -20px;
	opacity: .8;
}

#saved_term {
	display: none;
}

#top_term_info_c {
	display: none;
	z-index: 4000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,
						color-stop(.25, rgba(255, 255, 255, .07)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .07)),
						color-stop(.75, rgba(255, 255, 255, .07)), color-stop(.75, transparent), to(transparent));
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .07) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .07) 50%, rgba(255, 255, 255, .07) 75%, transparent 75%, transparent);
	background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	-webkit-background-size: 50px 50px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	color: #FFF;
	cursor: pointer;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	-webkit-animation: animate-stripes 1s linear infinite;
	background-color: rgba(18,53,124,.8); 
	border-bottom: 1px solid #112a5b;
	
	-webkit-box-shadow: inset 0px 25px 0px rgba(255,255,255,.1), 0 3px 0px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0px 25px 0px rgba(255,255,255,.1), 0 3px 0px rgba(0,0,0,.3);
	box-shadow: inset 0px 25px 0px rgba(255,255,255,.1), 0 3px 0px rgba(0,0,0,.3);
}

#top_term_info_c h1 {
	padding: 12px 0px;
	margin: 0px auto;
	font-size: 20pt;
}

@-webkit-keyframes animate-stripes {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -50px 0;
    }
}

.tweet {
	word-wrap: break-word;
	margin: 10px 0px;
	padding: 5px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #9BD7EF;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(190,231,249)),
	    color-stop(0.54, rgb(218,238,245))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(190,231,249) 0%,
	    rgb(218,238,245) 54%
	);
	color: #8399A0;
	margin-right: 10px;
	overflow: auto;
}

.thumbnail {
	float: left;
	margin-right: 5px;
}

.twitter_username {
	font-weight: 700;
	color: #25A9D1;
}